/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** End CSS Reset ********/

/******** General Page Layout ********/
:root {
	--switch-container-height: 25px;
	--switch-container-width: calc(var(--switch-container-height) * 2);

	--title-font-size: 3rem;
	--normal-font-size: 1.3rem;
	--small-font-size: 1.1rem;
	--tiny-font-size: 0.75rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
}

.main-page-container {
	display: grid;
	grid-template-areas:
		"header"
		"main-content";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 9fr;
	height: 100%;
	width: 100%;
}

.header {
	display: grid;
	font-size: var(--title-font-size);
	height: 100%;
	place-items: center;
	width: 100%;
}

.main-content {
	align-items: start;
	display: grid;
	grid-template-areas:
		"control-panel     coloring-grid";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
	justify-items: center;
	width: 100%;
}

/******** Control Panel ********/
.control-panel {
	display: flex;
	font-size: var(--normal-font-size);
	flex-direction: column;
	grid-area: control-panel;
	min-width: 225px;
	outline: 3px solid red;
	padding: 2.5%;
	width: 27.5%;
}

.control-panel > fieldset {
	margin: 2.5%;
}

.input-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10%;
	width: 100%;
}

.grid-size-controls {
	margin-bottom: 10%;
	text-align: center;
	width: 100%;
}

.grid-size-controls > input {
	margin-bottom: 5%;
	width: 100%;
}

label[for="grid-size"] {
	font-size: var(--small-font-size);
}
/*** Toggle Switch Styling ***/
input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	background: #eee;
	border-radius: calc(var(--switch-container-height) * 0.5);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
	height: var(--switch-container-height);
	outline: none;
	position: relative;
	width: var(--switch-container-width);
	transition: all 0.5s;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background: rgb(39, 160, 39);
}

input[type="checkbox"]::before,
input[type="radio"]::before {
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	content: '';
	height: var(--switch-container-height);
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(1.1);
	transition: all 0.5s;
	width: var(--switch-container-height);
}

input:checked[type="checkbox"]::before,
input:checked[type="radio"]::before {
	left: var(--switch-container-height);
}

#user-selected-color {
	height: 0;
	opacity: 0;
	width: 0;
}

/*** Button Styling ***/
button {
	font-size: var(--normal-font-size);
	padding: 2.5%;
}

/*** Miscellaneous Control Panel Styling ***/
hr {
	margin-bottom: 5%;
}

.separator {
	font-size: var(--tiny-font-size);
	margin-bottom: 7.5%;
	text-align: center;
	width: 100%;
}